*{
    margin: 0;
    padding: 0;
    font-family:"Montserrat", sans-serif;
}
#clothing,#accessories{
    margin: 30px 50px;
}
#clothing-content, #accessories-content{
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
}
.card{
    width: 17%;
    height: auto;
    margin: 25px 15px;
    box-shadow: 0 0 9px #ccc;
}
img{
    width: 100%;
}
.details{
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
}

div.details > *{
    margin-bottom: 8px;
}
.details h3{
    font-weight: 200;
}
.details h4{
    font-size: 12px;
    color: rgb(110, 110, 110);
}
.details h5{
    font-size: 15px;
    word-spacing: 2px;
    color: #009688;
} 



@media screen and (max-width: 500px) {
    .card{
        width: 40%;
    }
  }

  @media screen and (max-width: 800px) {
    .card{
        width: 28%;
    }
  }